<ion-content>
    <!-- <div class="titulovalidacion">
      <div class="instruccion">
        <h2>Ingresa tu correo para poder mandarte un código para restablecer tu contraseña.</h2>
      </div>
      <div class="contenedor-validacion">
        
        <ion-label class="etiqueta">Ingrese tu correo</ion-label>
        <ion-item lines="none">
          <ion-input [(ngModel)]="codigoIngresado" placeholder="Correo"></ion-input>
        </ion-item>
    
        <div class="botonValidacion">
          <ion-button expand="block" (click)="validarCodigo()">Validar</ion-button>
        </div>
    
        <p style="color: red;" *ngIf="mensajeError">{{ mensajeError }}</p>
      </div>
      <div class="footer">
        <p id="textoFooter">Creado por Yuzzo inc. © Copyright</p>
      </div>
    </div> -->
</ion-content>
    
