<ion-content [fullscreen]="true">
  <div class="contenedor">
    <a href="/tabs-negocio/menu-negocio">
      <ion-icon name="close" class="iconoVolver"></ion-icon>
    </a>
    <h1 class="tituloPrincipal">Contáctanos</h1>
    <div class="contenido">
      <div class="contenidoIndividual">
        <ion-icon name="mail-outline" class="mailLogo"></ion-icon>
        <h1 class="correo">contacto&#64;panap.cl</h1>
      </div>
      <div class="contenidoIndividual">
        <ion-icon name="logo-whatsapp" class="whatsappLogo"></ion-icon>
        <h1 class="whatsapp">+56 912345678</h1>
      </div>
      <div class="contenidoIndividual">
        <ion-icon name="logo-instagram" class="InstagramLogo"></ion-icon>
        <h1 class="redesSociales">Instagram</h1>
      </div>
    </div>
  </div>
</ion-content>
