<ion-content fullscrean="true">
  <div class="contenedorRegistro">
    <div class="titulares">
      <h1 class="titulo">Registro de usuario</h1>
      <h2 id="subTitulo">Rellene los campos (<span class="obligatorio">*</span>)</h2>
    </div>
    <form (ngSubmit)="probarAPI()">
      
      <ion-label position="stacked"class="etiqueta">Nombre (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo1">
        <ion-input [(ngModel)]="nombre" name="nombre" type="name" placeholder="Ejemplo: Juan" class="input"></ion-input>
      </ion-item>

      <ion-label position="stacked"class="etiqueta">Apellido (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo2">
        <ion-input [(ngModel)]="apellido" name="apellido" type="lastname" placeholder="Ejemplo: Marquez" class="input"></ion-input>
      </ion-item>

      <ion-label position="stacked"class="etiqueta">Correo (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo3">
        <ion-input [(ngModel)]="correo" name="correo" type="email" placeholder="ejemplo@gmail.com" class="input"></ion-input>
      </ion-item>

      <ion-label position="stacked"class="etiqueta">Contraseña (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo4">
        <ion-input [(ngModel)]="clave" name="clave" type="password" placeholder="Contraseña..." class="input"></ion-input>
      </ion-item>

      <ion-label position="stacked"class="etiqueta">Confirmar contraseña (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo4">
        <ion-input [(ngModel)]="clave" name="clave" type="password" placeholder="Contraseña..." class="input"></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="boton-acceder">
        <span class="textoBoton">Continuar</span>
      </ion-button>

    </form>
  </div>
  <!-- Mostrar mensaje de error si existe -->
  <p style="color: red;" *ngIf="errorMensaje" class="error">
    {{ errorMensaje }}
  </p>
</ion-content>