*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorRegistro{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulares{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 14%;
    width: 100%;
}

.titulo{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
}

#subTitulo{
    padding: 5px 20px 0px 20px;
    text-align: center;
    font-size: 23px;
    color: black;
    font-weight: lighter;
}

.ordenSeleccion{
    display: flex;
    flex-direction: row;
}

.tipoUsuario{
    width: 85%;
    height: auto;
    margin: 0px 5px 0px 0px;
    padding: 5px;
}

.ordenCasillas1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    gap: 10px;
}

.tituloSeleccion{
    text-align: center;
    font-size: 25px;
    color: black;
    padding: 10px 5px 10px 5px;
}

.textoInterno{
    font-size: 18px;
    color: black;
    font-weight: lighter;
}

ion-radio::part(container) {
    width: 30px;
    height: 30px;
  
    border-radius: 8px;
    border: 2px solid #ddd;
  }
  
  ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
  }
  
  ion-radio.radio-checked::part(container) {
    background: rgb(255, 145, 0);
    border-color: transparent;
  }
  
  ion-radio.radio-checked::part(mark) {
    width: 6px;
    height: 10px;
  
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
  
    transform: rotate(45deg);
  }



.obligatorio{
    color: red;
}

.etiqueta{
    width: 80%;
    text-align: left;
    margin: 5px 0px 15px 5px;
    font-size: 20px;
    color: black;
}

form{
    top: 12%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.boton-acceder{
    min-width: 170px;
    min-height: 60px;
    --background:  rgb(255, 145, 0) !important;
    --background-hover:  rgb(255, 145, 0) !important;
    --background-activated:  rgb(255, 145, 0) !important;
    --background-focused:  rgb(255, 145, 0) !important;
  
    --color: rgb(255, 255, 255);
  
    --border-radius: 15px;
  
    --box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.144);
  
    --ripple-color: rgb(255, 255, 255);
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-transform: capitalize;
}

ion-item{
    --background: #9c9c9c6c;
    --color: black;
}

.campo1{
    text-align: left;
    width: 85%;
    padding: 0px 5px 15px 5px;
}

.textoBoton{
    font-size: 20px;
    color: #fff;
}

.error-alert {
    text-align: center;
    display: none;
    position: fixed;
    top: 1%;
    left: 15%;
    right: 15%;
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.error-alert.show {
    display: block;
    animation: fade-in 0.5s ease-out, fade-out 0.5s ease-out 2.5s;
}
ion-icon{
    width: 25px;
    height: 25px;
    color: black;
  }

/* Animación de entrada de la alerta */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de salida de la alerta */
@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}