<ion-content fullscrean="true">
  <div class="contenedorRegistro">
    <a href="/iniciar-sesion">
      <ion-icon name="chevron-back-outline" class="iconoVolver"></ion-icon>
    </a>
    <div class="titulares">
      <h1 class="titulo">Registro de usuario</h1>
      <h2 id="subTitulo">Rellene los campos requeridos (<span class="obligatorio">*</span>)</h2>
    </div>

    <form (ngSubmit)="probarAPI()">

      <h1 class="tituloSeleccion">Selecciona tu perfil (<span class="obligatorio">*</span>)</h1>
      <div class="tipoUsuario">

        <ion-radio-group [(ngModel)]="tipo" name="tipo" class="ordenSeleccion">
          <div class="ordenCasillas1">
            <h1 class="textoInterno">Cliente</h1>
            <ion-radio value="Cliente" class="ordenCasilla1"></ion-radio>
          </div>
          <div class="ordenCasillas1">
            <h1 class="textoInterno">Negocio</h1>
            <ion-radio value="Negocio" class="ordenCasilla1"></ion-radio>
          </div>
        </ion-radio-group>

      </div>

      <hr style="background-color: rgba(0, 0, 0, 0.116); width: 100%; height: 3px; margin: 15px 5px 15px 5px;">

      <ion-label class="etiqueta">Nombre (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo1">
        <ion-input [(ngModel)]="nombre" name="nombre" type="name" placeholder="Ejemplo: Juan" class="input"></ion-input>
      </ion-item>
      <ion-label *ngIf="errorNombre" class="error">{{ errorNombre }}</ion-label>

      <ion-label class="etiqueta">Apellido (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo1">
        <ion-input [(ngModel)]="apellido" name="apellido" type="lastname" placeholder="Ejemplo: Marquez"
          class="input"></ion-input>
      </ion-item>
      <ion-label *ngIf="errorApellido" class="error">{{ errorApellido }}</ion-label>

      <hr style="background-color: rgba(0, 0, 0, 0.116); width: 100%; height: 3px; margin: 15px 5px 15px 5px;">

      <ion-label class="etiqueta">Correo (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo1">
        <ion-input [(ngModel)]="correo" name="correo" type="email" placeholder="ejemplo@gmail.com"
          class="input"></ion-input>
      </ion-item>
      <ion-label *ngIf="errorCorreo" class="error">{{ errorCorreo }}</ion-label>

      <ion-label class="etiqueta">Contraseña (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo1">
        <ion-input [(ngModel)]="clave" [type]="mostrarContrasena ? 'text' : 'password'" name="clave" type="password"
          placeholder="Contraseña" class="input"></ion-input>
        <ion-icon slot="end" [name]="mostrarContrasena ? 'eye-off-outline' : 'eye-outline'"
          (click)="alternarMostrarContrasena()"></ion-icon>
      </ion-item>
      <ion-label *ngIf="errorClave" class="error">{{ errorClave }}</ion-label>

      <ion-label class="etiqueta">Confirmar contraseña (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo1">
        <ion-input [(ngModel)]="claveConfirmada" name="claveConfirmada" [type]="mostrarContrasena ? 'text' : 'password'"
          placeholder="Contraseña nuevamente" class="input"></ion-input>
        <ion-icon slot="end" [name]="mostrarContrasena ? 'eye-off-outline' : 'eye-outline'"
          (click)="alternarMostrarContrasena()"></ion-icon>
      </ion-item>
      <ion-label *ngIf="errorClaveConfirmada" class="error">{{ errorClaveConfirmada }}</ion-label>

      <ion-button type="submit" class="boton-acceder">
        <span class="textoBoton">Continuar</span>
      </ion-button>

    </form>

    <div *ngIf="mostrarConfirmacion" class="overlay">
      <div class="modal-confirmacion">
        <ion-icon name="checkmark-circle" class="icono-check"></ion-icon>
        <h2 class="texto">¡Cuenta creada exitosamente!</h2>
        <p class="texto">Para completar el proceso, inicia sesión y valida tu cuenta con el código que enviaremos a tu
          correo.</p>
        <ion-button (click)="irAInicioSesion()" class="boton-entendido">
          <span class="textoBoton">Entendido</span>
        </ion-button>
      </div>
    </div>

  </div>

  <div *ngIf="errorMensaje" class="error-alert" id="alertaError">
    {{ errorMensaje }}
  </div>

</ion-content>