ion-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#unionBotones{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    gap: 40px;
}

h1{
    position: relative;
    top: 38%;
    color: black;
    text-align: center;
    font-size: 30px;
}

#siBtn{
    width: 120px;
    height: 80px;
    --background: #28F000 !important;
    --background-hover:  rgb(255, 145, 0) !important;
    --background-activated:  rgb(255, 145, 0) !important;
    --background-focused:  rgb(255, 145, 0) !important;
    --border-radius: 20px;
}

#noBtn{
    width: 120px;
    height: 80px;
    --background: #FF0000!important;
    --background-hover:  rgb(255, 145, 0) !important;
    --background-activated:  rgb(255, 145, 0) !important;
    --background-focused:  rgb(255, 145, 0) !important;
    --border-radius: 20px;
}

.btn-cs{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}