<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-cliente">
      <ion-icon name="home-outline" (click)="animateIcon($event)"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="mapa-cliente">
      <ion-icon name="location-outline" (click)="animateIcon($event)"></ion-icon>
      Mapa
    </ion-tab-button>
    <ion-tab-button tab="pedido-cliente">
      <ion-icon name="bag-add-outline" (click)="animateIcon($event)"></ion-icon>
      Pedidos
    </ion-tab-button>
    <ion-tab-button tab="menu-cliente">
      <ion-icon name="menu-sharp" (click)="animateIcon($event)"></ion-icon>
      Menú
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>