<ion-content [fullscreen]="true">
  <div id="contenido">

    <ng-container *ngIf="!reserva || reserva.length === 0; else mostrarReserva" class="pedidoPendiente">
      <h1 id="titulo">Realizar pedido</h1>
      <h2 id="subTitulo">Selecciona un negocio</h2>
      <div id="hud">El punto café eres tú</div>
      <div id="mapaPedido"></div>
    </ng-container>

    <ng-template #mostrarReserva>
      <h1 class="titularReserva">¡Hiciste tu reserva!</h1>
      <div class="contenidoReserva">
        <h2 class="textoTienda">-{{ reserva[0].N_NOMBRE }}-</h2>
        <h2 class="textoReserva">Código de reserva<h3 class="textoInterno">{{ reserva[0].R_CODIGO }}</h3></h2>
        <h2 class="textoReserva">Nombre<h3 class="textoInterno">{{ reserva[0].NOMBRE_R }} {{ reserva[0].APELLIDO_R }}</h3></h2>
        <h2 class="textoReserva">Estado<h3 class="textoInterno">{{ reserva[0].ESTADO }}</h3></h2>
        <h2 class="textoReserva">Fecha<h3 class="textoInterno">{{ reserva[0].FECHA }}</h3></h2>
      </div>
      <div class="textosImportantes">
        <h1 class="textoImportante"><span class="destacar">Importante: </span>No podrás realizar otro pedido durante el día hasta que vayas a retirarlo al negocio o cuando se cancele automaticamente.</h1>
      </div>
    </ng-template>
    
  </div>
</ion-content>
