*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;    
}

#titulo{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 15px 5px 0px 5px;
}

#subTitulo{
    color: black;
    font-size: 20px;
    margin: 0px 10px 10px 5px;
    padding: 0px 15px 0px 15px;
    font-style: italic;
}

#mapaPedido{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 800px !important;
    margin: 5px 0px 20px 0px;
    border-radius: 20px;
    box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.603);
}

#hud {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.486);
    color: rgb(255, 255, 255);
    font-weight: lighter;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    z-index: 9999;
    top: 20%;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
