<ion-content [fullscreen]="true">
  <ion-icon name="close" (click)="cerrarPopover()" class="iconoCerrar"></ion-icon>

  <div class="ordenContenido">

    <div class="ordenTituloPrincipal">
      <div class="icono">
        <ion-icon name="bag-add-outline" class="iconoNegocio"></ion-icon>
      </div>
      <div class="texto">
        <h1 class="tituloNegocio">Realizar pedido</h1>    
      </div>
    </div>  
  
    <ion-label class="textoPedido">¿Cuanto va a pedir?</ion-label>
  
    <ion-item class="ordenPedidoPan" lines="none">
      <div class="ordenInput">
        <h1 class="signoPeso">$</h1>
        <ion-input [(ngModel)]="r_valor" required class="espacioPedido" placeholder="0"></ion-input>
      </div>
    </ion-item>

    <div class="posicionBtn">
      <ion-button (click)="enviarDatos()" class="btnPedido">Realizar pedido</ion-button>
    </div>

  </div>

</ion-content>
