<ion-content [fullscreen]="true">
  <div class="contenendor">
    <a href="/tabs-negocio/menu-negocio">
      <ion-icon name="close" class="iconoVolver"></ion-icon>
    </a>
    <h1 class="tituloPrincipal">Cambiar información personal</h1>
    <form (ngSubmit)="cambiar()" #stockForm="ngForm">

      <div class="contenido" lines="none">

        <div class="campoDeLlenado" lines="none">
          <ion-label class="textoInput">Editar nombre</ion-label>
          <ion-item class="campo-item" lines="none">
            <ion-input lines="none" class="textoInterno" [(ngModel)]="nombre" [ngModelOptions]="{standalone: true}"
              name="nombre" placeholder="{{usuario.nombre}}" id="nombreUsuario" required>
            </ion-input>
          </ion-item>
        </div>

        <div class="campoDeLlenado" lines="none">
          <ion-label class="textoInput">Editar apellido</ion-label>
          <ion-item class="campo-item" lines="none">
            <ion-input lines="none" class="textoInterno" [(ngModel)]="apellido" [ngModelOptions]="{standalone: true}" name="apellido"
              placeholder="{{usuario.apellido}}" id="apellidoUsuario" required>
            </ion-input>
          </ion-item>
        </div>

        <ion-button type="submit" [disabled]="!stockForm.valid" class="botonGeneral">
          <p class="botones">Confirmar</p>
        </ion-button>

      </div>

    </form>

  </div>
</ion-content>