<ion-content [fullscreen]="true">
    <div class="contenido">
        <h1 class="tituloPrincipal">¡Encuentra negocios cerca tuyo!</h1>
        <div id="mapaPan"></div>
        <div id="hud">El punto azul eres tú</div>
        <div id="disponibilidad">
            <div id="disponible">
                <img src="assets/image/pan.png" id="panDisponible">
                <h3>Disponible</h3>
            </div>
            <div id="quedaPoco">
                <img src="assets/image/pan.png" id="panQuedaPoco">
                <h3>Queda poco</h3>
            </div>
            <div id="agotado">
                <img src="assets/image/pan.png" id="panAgotado">
                <h3>Agotado</h3>
            </div>
            <div id="cerrado">
                <img src="assets/image/pan.png" id="panCerrado">
                <h3>Cerrado</h3>
            </div>
        </div>
    </div>
</ion-content>
