<ion-content [fullscreen]="true">
    <div class="contenido">
        <h1 class="tituloPrincipal">¡Encuentra negocios cerca tuyo!</h1>
        <div id="mapaPan"></div>
        <div id="hud">El punto café eres tú</div>

        <div class="contenedorDisponibilidad">
            <div class="dimensiones">
                <img src="assets/image/PAN_VERDE_FINAL.png" class="imagenPan">
                <h1 class="textos">Disponible</h1>
            </div>

            <div class="dimensiones">
                <img src="assets/image/PAN_AMARILLO_FINAL.png" class="imagenPocoPan">
                <h1 class="textos">Poco</h1>
            </div>

            <div class="dimensiones">
                <img src="assets/image/PAN_ROJO_FINAL.png" class="imagenPan">
                <h1 class="textos">Casi Agotado</h1>
            </div>

            <div class="dimensiones">
                <img src="assets/image/PAN_GRIS_FINAL.png" class="imagenPan">
                <h1 class="textos">Agotado</h1>
            </div>

        </div>
    </div>
</ion-content>
