<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-negocio">
      <ion-icon name="home-outline"></ion-icon>
        Inicio
    </ion-tab-button>
    <ion-tab-button tab="reservas-negocio">
      <ion-icon name="book-outline"></ion-icon>
        Reservas
    </ion-tab-button>
    <ion-tab-button tab="ingreso-pan-negocio">
      <ion-icon name="duplicate-outline"></ion-icon>
        Registrar
    </ion-tab-button>
    <ion-tab-button tab="modificar-pan-negocio">
      <ion-icon name="create-outline"></ion-icon>
        Modificar
    </ion-tab-button>
    <ion-tab-button tab="cerrar-sesion-neg">
      <ion-icon name="exit-outline"></ion-icon>
        Salir
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
