ion-tab-bar {
    background: rgba(255, 145, 0, 0.863) !important;
    border-color: transparent;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    height: 10%;
    font-size: 40px;
  }
  
  ion-tab-button {
    background-color: rgb(255, 145, 0) !important;
    color: #fff;
    // border-top-left-radius: 25px;
    // border-top-right-radius: 25px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 13px;
}

ion-icon{
    font-size: 30px;
    padding-bottom: 8px;
    min-width: 30px;
    min-height: 30px;
}

/* Definir la animación para el movimiento hacia arriba */
@keyframes moveUp {
  0% {
    transform: translateY(0); /* Posición original */
  }
  50% {
    transform: translateY(-10px); /* Mover hacia arriba 5px */
  }
  100% {
    transform: translateY(0); /* Volver a la posición original */
  }
}

/* Estilo aplicado cuando se clickea el botón */
.icon-animate {
  animation: moveUp 0.4s ease-in-out; /* Duración de 0.3 segundos */
}