<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-admin">
      <ion-icon name="home-outline" (click)="animateIcon($event)"></ion-icon>
        Inicio
    </ion-tab-button>
    <ion-tab-button tab="pendientes">
      <ion-icon name="book-outline" (click)="animateIcon($event)"></ion-icon>
        pendientes
    </ion-tab-button>
    <ion-tab-button tab="aceptados">
      <ion-icon name="duplicate-outline" (click)="animateIcon($event)"></ion-icon>
        aceptados
    </ion-tab-button>
    <ion-tab-button tab="rechazados">
      <ion-icon name="create-outline" (click)="animateIcon($event)"></ion-icon>
        Rechazados
    </ion-tab-button>
    <ion-tab-button tab="cerrar-sesion-adm">
      <ion-icon name="exit-outline" (click)="animateIcon($event)"></ion-icon>
        Salir
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
