<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="solicitudes">
      <ion-icon name="file-tray-full-outline" (click)="animateIcon($event)"></ion-icon>
        Solicitudes
    </ion-tab-button>
    <ion-tab-button tab="listado-negocios">
      <ion-icon name="storefront-outline" (click)="animateIcon($event)"></ion-icon>
        Negocios
    </ion-tab-button>
    <ion-tab-button tab="cerrar-sesion-adm">
      <ion-icon name="exit-outline" (click)="animateIcon($event)"></ion-icon>
        Salir
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
