<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-admin" (click)="onTabClick($event, 'home-admin')" [class.active-tab]="activeTab === 'home-admin'">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="listado-negocios" (click)="onTabClick($event, 'listado-negocios')" [class.active-tab]="activeTab === 'listado-negocios'">
      <ion-icon name="storefront-outline"></ion-icon>
      Negocios
    </ion-tab-button>
    <ion-tab-button tab="cerrar-sesion-adm" (click)="onTabClick($event, 'cerrar-sesion-adm')" [class.active-tab]="activeTab === 'cerrar-sesion-adm'">
      <ion-icon name="exit-outline"></ion-icon>
      Salir
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
