*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorRegistro{
    position: absolute;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulares{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    padding: 10px;
    margin: 10px 5px 70px 5px;
}

#subTitulo{
    padding: 10px 30px 5px 30px;
    text-align: center;
    font-size: 23px;
    color: black;
    font-weight: bold;
}

.obligatorio{
    color: red;
}

.etiqueta{
    margin: 5px 0px 15px 5px;
    font-size: 22px;
    color: black;
}

.etiqueta2{
    margin: 50px 0px 10px 5px;
    font-size: 22px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.etiqueta3{
    margin: 0px 0px 20px 5px;
    padding: 0px 50px 0px 50px;
    font-size: 18px;
    color: black;
    text-align: center;
}

form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.boton-acceder{
    min-width: 170px;
    min-height: 60px;
    --background:  rgb(255, 145, 0) !important;
    --background-hover:  rgb(255, 145, 0) !important;
    --background-activated:  rgb(255, 145, 0) !important;
    --background-focused:  rgb(255, 145, 0) !important;
    --color: rgb(255, 255, 255);
    --border-radius: 15px;
    --box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.144);
    --ripple-color: rgb(255, 255, 255);
    margin: 0px 0px 50px 0px;
    padding: 10px 5px 80px 5px;
    text-transform: capitalize;
    position: relative;
}

ion-item{
    --background: #9c9c9c6c;
    --color: black;
}

.seleccionMultiple{
    width: 65%;
}

.divisionSeleccion{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0px 5px 40px 5px;
}

ion-checkbox {
    --size: 32px;
    --checkbox-background-checked: rgb(255, 145, 0);
    --checkbox-background: rgb(150, 150, 150);
    --checkmark-color: rgb(255, 255, 255);
    }

    ion-checkbox::part(container) {
    border-radius: 6px;
    border: transparent;
    }

.campo1{
    width: 70%;
    min-height: 60px;
    padding: 0px 5px 15px 5px;
}

.textoBoton{
    font-size: 20px;
    color: #fff;
}

.titularFotografia{
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 40px 40px 0px 40px;
    font-weight: bold;
}

.ordenImagen{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon{
    width: 50px;
    height: 50px;
    background-color: black;
}

.error-alert {
    text-align: center;
    display: none;
    position: fixed;
    top: 1%;
    left: 15%;
    right: 15%;
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.error-alert.show {
    display: block;
    animation: fade-in 0.5s ease-out, fade-out 0.5s ease-out 2.5s;
}

/* Animación de entrada de la alerta */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de salida de la alerta */
@keyframes fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}