<ion-content [fullscreen]="true">
    <h1>Detalles de la Reserva</h1>
    <div>
        <p>ID de Reserva: {{ detallesReserva?.ID_RESERVAS }}</p>
        <p>Nombre: {{ detallesReserva?.NOMBRE_R }} {{ detallesReserva?.APELLIDO_R }}</p>
        <p>Codigo de la reserva: {{ detallesReserva?.R_CODIGO }}</p>   
        <p>Estado de la reserva: {{ detallesReserva?.ESTADO }}</p>
        <p>Fecha de la reserva: {{ detallesReserva?.FECHA }}</p>
    </div>
    <ng-container *ngIf="!detallesReserva || detallesReserva.TIPO === 'MONEDA'; else mostrarReserva" class="reserva">
        <div>
            <p>Tipo Pan: {{ detallesReserva?.TIPO_PAN }}</p>
            <p>Valor de Reserva: ${{ detallesReserva?.R_VALOR }}</p>
        </div>
    </ng-container>
    <ng-template #mostrarReserva>
      <div>
        <p>Cantidad de Hallullas: {{ detallesReserva?.HALLULLA }}</p>
        <p>Cantidad de Marraqueta: {{ detallesReserva?.MARRAQUETA }}</p>
      </div>
    </ng-template>
    <ion-icon name="close-circle-outline" (click)="cancelarReserva(detallesReserva?.ID_USUARIO, detallesReserva?.ID_RESERVAS)" class="acciones1"></ion-icon>
    <ion-icon name="checkmark-circle-outline" (click)="cambiarEstadoReserva(detallesReserva?.ID_USUARIO)" class="acciones2"></ion-icon>
</ion-content>
