<ion-content [fullscreen]="true">
  <div class="contenedor">
    <ion-icon name="close" (click)="cerrarPopover()" class="iconoCerrar"></ion-icon>
    <h1 class="titularReserva">Detalles de la Reserva</h1>
    
    <div class="contenidoReserva">
      <h2 class="textoReserva">Reserva N°<h3 class="textoInterno">{{ detallesReserva?.ID_RESERVAS }}</h3></h2>
      <h2 class="textoReserva">Nombre<h3 class="textoInterno">{{ detallesReserva?.NOMBRE_R }} {{ detallesReserva?.APELLIDO_R }}</h3></h2>
      <h2 class="textoReserva">Código de la reserva<h3 class="textoInterno">{{ detallesReserva?.R_CODIGO }}</h3></h2>
      <h2 class="textoReserva">Estado de la reserva<h3 class="textoInterno">{{ detallesReserva?.ESTADO }}</h3></h2>
      <h2 class="textoReserva">Fecha de la reserva<h3 class="textoInterno">{{ detallesReserva?.FECHA }}</h3></h2>
      
      <ng-container *ngIf="!detallesReserva || detallesReserva.TIPO === 'MONEDA'">
        <h2 class="textoReserva">Formato pedido<h3 class="textoInterno">{{ detallesReserva?.TIPO_PAN }}</h3></h2>
        <h2 class="textoReserva">Valor de Reserva<h3 class="textoInterno">${{ formatearNumero(detallesReserva?.R_VALOR) }}</h3></h2>
      </ng-container>
      
      <ng-container *ngIf="detallesReserva?.TIPO !== 'MONEDA'">
        <h2 class="textoReserva">Cantidad de Hallullas<h3 class="textoInterno">{{ detallesReserva?.HALLULLA }}</h3></h2>
        <h2 class="textoReserva">Cantidad de Marraqueta<h3 class="textoInterno">{{ detallesReserva?.MARRAQUETA }}</h3></h2>
      </ng-container>
    </div>

    <h1 class="accion">¿Entregar?</h1>
    
    <div class="ordenBotones">
      <ion-icon name="close-circle-outline" (click)="cancelarReserva(detallesReserva?.ID_USUARIO, detallesReserva?.ID_RESERVAS)" class="acciones1"></ion-icon>
      <ion-icon name="checkmark-circle-outline" (click)="cambiarEstadoReserva(detallesReserva?.ID_USUARIO)" class="acciones2"></ion-icon>
    </div>
  </div>
</ion-content>
