<ion-content [fullscreen]="true">
  <div class="contenedor">
    <a href="/tabs-cliente/menu-cliente">
      <ion-icon name="close" class="iconoVolver"></ion-icon>
    </a>
    <h1 class="tituloPrincipal">Preguntas frecuentes</h1>
    <ion-accordion-group (ionChange)="accordionGroupChange($event)">
      <ion-accordion value="1">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿PanaP es de pago?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">No, PanaP es una aplicación gratuita.</div>
      </ion-accordion>
      <ion-accordion value="2">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Es seguro usar PanaP?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Sí, PanaP es seguro. Utilizamos medidas de seguridad estándar para proteger la información de los usuarios.</div>
      </ion-accordion>
      <ion-accordion value="3">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Cuál es el objetivo de PanaP?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">PanaP es una aplicación que permite a los usuarios pedir pan directamente desde sus dispositivos móviles. El objetivo es facilitar la vida cotidiana al permitir que los usuarios puedan solicitar pan directamente desde su ubicación actual, evitando la necesidad de verificar si hay pan en la panadería más cercana.</div>
      </ion-accordion>
      <ion-accordion value="4">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Quiénes desarrollaron esta aplicación?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">PanaP fue desarrollada por estudiantes de Duoc UC sede Melipilla como proyecto final de título.</div>
      </ion-accordion>
      <ion-accordion value="5">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Cómo puedo pedir pan?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Puedes pedir pan desde la aplicación PanaP cuando gustes. ¡Puedes revisar la disponibilidad del pan en los negocios registrados en la aplicación!</div>
      </ion-accordion>
      <ion-accordion value="6">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Quién puede utilizar PanaP?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Cualquier persona puede utilizar PanaP. ¡Simplemente debes registrarte en la aplicación e iniciar sesión!</div>
      </ion-accordion>
      <ion-accordion value="7">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Es sólo para Pomaire?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Por ahora solamente está destinada para la gente locataria de Pomaire.</div>
      </ion-accordion>
      <ion-accordion value="8">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Puedo vender Pan?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Si eres de Pomaire, puedes registrarte como negocio en la aplicación y comenzar a vender pan una vez que tu negocio sea aprobado.</div>
      </ion-accordion>
      <ion-accordion value="9">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Qué pasa si no retiro el Pan?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Si no retiras el pan en el tiempo estipulado la reserva se cancelará automáticamente.</div>
      </ion-accordion>
      <ion-accordion value="10">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Cómo se retira el Pan?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Puedes retirar el pan en base al horario de atención del negocio.</div>
      </ion-accordion>
      <ion-accordion value="11">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Cómo aseguro mi reserva?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Puedes asegurar tu reserva solamente revisando la disponibilidad del pan y realizando una reserva.</div>
      </ion-accordion>
      <ion-accordion value="12">
        <ion-item slot="header" class="custom-header">
          <ion-label>¿Cómo pago mi pedido?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">El pedido se paga en el momento de la entrega. Nosotros no almacenamos ningún tipo de información de pago.</div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  
</ion-content>
