<ion-content [fullscreen]="true"class="contenido">
    <div class="contenedor-central">
      <h1 class="titulo">Escoge una opción</h1>
      
      <a href="/tabs-negocio/reservas-negocio" class="botonGeneral">
        <ion-button>
            <p class="botones">Reservas del día</p>
        </ion-button>
      </a>

      <a href="/tabs-negocio/reservas-negocio" class="botonGeneral">
        <ion-button>
            <p class="botones">Historial de reservas</p>
        </ion-button>
      </a>

    </div>
</ion-content>
