<ion-content [fullscreen]="true">
  <a href="/tabs-negocio/reservas-negocio">
    <ion-icon name="chevron-back" class="iconoVolver" href="/tabs-negocio/reservas-negocio"></ion-icon>
  </a>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Desliza para actualizar"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="contenido">
    <h1 class="titulo">Historial de Reservas</h1>
    <div class="contenidoTabla">
      <ion-row class="encabezado">
          <ion-col class="titulares">Hora entrega</ion-col>
          <ion-col class="titulares">Códigos</ion-col>
          <ion-col class="titulares">ID Usuarios</ion-col>
        </ion-row>
      
      <ion-grid class="tablaHitorico">
        <ion-row class="fila-datos" *ngFor="let historico of historicos">
          <ion-col>{{ historico.H_FECHA }}</ion-col>
          <ion-col>{{ historico.R_CODIGO }}</ion-col>
          <ion-col>{{ historico.ID_USUARIO }}</ion-col>
        </ion-row>
      </ion-grid>   
    </div>
  </div>
</ion-content>
