<ion-content fullscrean="true">
  <div class="contenedor-login">
    <div class="titulares">
      <h1 class="titulo">Iniciar sesión GMAIL</h1>
      <h2 id="subTitulo">Rellene los campos (<span class="obligatorio">*</span>)</h2>
    </div>
    <form (ngSubmit)="iniciarSesion()"> <!-- Vincular el formulario a la función de login -->
      <ion-label position="stacked" class="etiqueta">Correo (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo1">
        <ion-input [(ngModel)]="correo" name="correo" type="email" placeholder="ejemplo@gmail.com" class="input"></ion-input>
      </ion-item>

      <ion-label position="stacked" class="etiqueta">Contraseña (<span class="obligatorio">*</span>)</ion-label>
      <ion-item lines="none" class="campo2">
        <div id="unionClave">
          <ion-input [(ngModel)]="clave" name="clave" type="password" placeholder="Contraseña..." class="input"></ion-input>
          <ion-icon name="eye-off-outline" class="icono-password"></ion-icon>
        </div>
      </ion-item>

      <div class="restablecer">
        <span>¿Olvidaste tu contraseña?</span><a href="/restablecer-contra" class="enlace-restablecer"><span>Restablecer</span></a>
      </div>

      <ion-button expand="block" type="submit" class="boton-acceder">
        <span class="btn-Acceder">Acceder</span>
      </ion-button>
    </form>

    <div class="footer">
      <p id="textoFooter">Creado por Yuzzo inc. © Copyright</p>
    </div>
  </div>
</ion-content>

