<swiper-container
(slidechange)="swiperSlideChanged($event)" 
[loop]="true"
[pagination]="true">

    <swiper-slide>
        <ion-img src="assets/image/imagen_slide.PNG"></ion-img>
    </swiper-slide>
    <swiper-slide>
        <ion-img src="assets/image/imagen_slide_2.PNG"></ion-img>
    </swiper-slide>
    <swiper-slide>
        <ion-img src="assets/image/imagen_slide_3.PNG"></ion-img>
    </swiper-slide>
</swiper-container>


<ion-container>
    <!-- Insertar botones acá con los links para cada  -->
    
    <a href="/inicio-sesion" id="iniciarSesion">
        <ion-button>
            <p id="btn-is">Iniciar sesión</p>
        </ion-button>
    </a>

    <br>

    <div id="union-texto">
        <p id="btn-re1">¿No tienes cuenta?</p>
        <a href="/registro-cliente" id="linkRegistrarse">Registrate aquí</a>   
    </div>
</ion-container>