<div class="splash-screen" *ngIf="verificandoSesion">
  <img src="assets/image/logoPANAP.png" alt="PANAP Logo">
</div>

<swiper-container
(slidechange)="swiperSlideChanged($event)" 
[loop]="true"
[pagination]="true">

    <swiper-slide>
        <ion-img src="assets/image/imagen_slide.PNG"></ion-img>
    </swiper-slide>
    <swiper-slide>
        <ion-img src="assets/image/imagen_slide_2.PNG"></ion-img>
    </swiper-slide>
    <swiper-slide>
        <ion-img src="assets/image/imagen_slide_3.PNG"></ion-img>
    </swiper-slide>
</swiper-container>

<ion-container>
    <ion-button (click)="irLogin()" id="iniciarSesion">
        <p id="btn-is">Iniciar sesión</p>
    </ion-button>

    <br>

    <div id="union-texto">
        <p id="btn-re1">¿No tienes cuenta?</p>
        <a (click)="irRegistro()" id="linkRegistrarse">Registrate aquí</a>   
    </div>
</ion-container>