<ion-content [fullscreen]="true">
  <div class="contenido">
    <div class="ordenEnlaces" [routerLink]="['/tabs-negocio/cambiar-informacion-neg']">
      <h1 class="titularesNavegacion">Cambiar información personal</h1>
    </div>
    <div class="ordenEnlaces" [routerLink]="['/tabs-negocio/preguntas-frecuentes']">
      <h1 class="titularesNavegacion">Preguntas frecuentes</h1>
    </div>
    <div class="ordenEnlaces" [routerLink]="['/tabs-negocio/contacto']">
      <h1 class="titularesNavegacion">Contacto</h1>
    </div>
    <div class="ordenEnlaces" [routerLink]="['/tabs-negocio/cerrar-sesion-neg']">
      <h1 class="titularesNavegacion1">Cerrar sesión <ion-icon name="exit-outline" class="icono"></ion-icon></h1>
    </div>
  </div>
</ion-content>

