<ion-content [fullscreen]="true">
  <div class="contenido">
    <a href="/tabs-negocio/cambiar-informacion-neg" class="ordenEnlaces">
      <h1 class="titularesNavegacion">Cambiar información personal</h1>
    </a>
    <a href="/tabs-negocio/preguntas-frecuentes" class="ordenEnlaces">
      <h1 class="titularesNavegacion">Preguntas frecuentes</h1>
    </a>
    <a href="/tabs-negocio/contacto" class="ordenEnlaces">
      <h1 class="titularesNavegacion">Contacto</h1>
    </a>
    <a href="/tabs-negocio/cerrar-sesion-neg" class="opcionSalir">
      <h1 class="titularesNavegacion1">Cerrar sesión <ion-icon name="exit-outline" class="icono"></ion-icon></h1>
    </a>
  </div>
</ion-content>

