<ion-content [fullscreen]="true">
  <div class="contenido">
    <div class="ordenEnlaces" [routerLink]="['/tabs-cliente/cambiar-informacion-cli']">
      <h1 class="titularesNavegacion">Cambiar información personal</h1>
    </div>
    <div class="ordenEnlaces" [routerLink]="['/tabs-cliente/preguntas-frecuentes']">
      <h1 class="titularesNavegacion">Preguntas frecuentes</h1>
    </div>
    <div class="ordenEnlaces" [routerLink]="['/tabs-cliente/contacto']">
      <h1 class="titularesNavegacion">Contacto</h1>
    </div>
    <div class="opcionSalir" [routerLink]="['/tabs-cliente/cerrar-sesion-cli']">
      <h1 class="titularesNavegacion1">Cerrar sesión <ion-icon name="exit-outline" class="icono"></ion-icon></h1>
    </div>
  </div>
</ion-content>
