<ion-content [fullscreen]="true">
  <div class="contenido">
    <a href="/tabs-cliente/cambiar-informacion-cli" class="ordenEnlaces">
      <h1 class="titularesNavegacion">Cambiar información personal</h1>
    </a>
    <a href="/tabs-cliente/preguntas-frecuentes" class="ordenEnlaces">
      <h1 class="titularesNavegacion">Preguntas frecuentes</h1>
    </a>
    <a href="/tabs-cliente/contacto" class="ordenEnlaces">
      <h1 class="titularesNavegacion">Contacto</h1>
    </a>
    <a href="/tabs-cliente/cerrar-sesion-cli" class="opcionSalir">
      <h1 class="titularesNavegacion1">Cerrar sesión <ion-icon name="exit-outline" class="icono"></ion-icon></h1>
    </a>
  </div>
</ion-content>
