<ion-content [fullscreen]="true">
  <div class="contenido">
    <h1 class="titulo">Solicitudes de Negocio</h1>

    <div class="contenidoTabla">
      <!-- Tabla de solicitudes -->
      <div class="tabla-solicitudes">
        <!-- Encabezado de la tabla -->
        <ion-row class="encabezado">
          <ion-col size="3" class="titulares">Nombre</ion-col>
          <ion-col size="3" class="titulares">Tipo</ion-col>
          <ion-col size="3" class="titulares">Estado</ion-col>
          <ion-col size="3" class="titulares">Acciones</ion-col>
        </ion-row>

        <!-- Contenido de ejemplo (mantener comentado para uso futuro) -->
        <!-- <ion-grid class="tabla-reservas">
          <ion-row class="fila-datos" *ngFor="let negocio of negocios">
            <ion-col class="contenidoCeldas">{{ negocio.NOMBRE_R }} {{ negocio.APELLIDO_R }}</ion-col>
            <ion-col class="contenidoCeldas">{{ negocio.R_CODIGO }}</ion-col>
            <ion-col class="contenidoCeldas4">{{ negocio.ESTADO }}</ion-col>
            <ion-col class="contenidoCeldas2">            
              <ion-icon name="ellipsis-horizontal-circle-outline" (click)="presentPopover(reserva)" class="iconoAcciones"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid> -->

        <!-- Filas de ejemplo para visualizar el diseño -->
        <ion-row class="fila-datos">
          <ion-col size="3" class="contenidoCeldas">Juan Pérez</ion-col>
          <ion-col size="3" class="contenidoCeldas">Negocio</ion-col>
          <ion-col size="3" class="contenidoCeldas4">Pendiente</ion-col>
          <ion-col size="3" class="contenidoCeldas2">
            <ion-icon name="ellipsis-horizontal-circle-outline" class="iconoAcciones"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row class="fila-datos">
          <ion-col size="3" class="contenidoCeldas">María López</ion-col>
          <ion-col size="3" class="contenidoCeldas">Negocio</ion-col>
          <ion-col size="3" class="contenidoCeldas4">En revisión</ion-col>
          <ion-col size="3" class="contenidoCeldas2">
            <ion-icon name="ellipsis-horizontal-circle-outline" class="iconoAcciones"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>

