<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="header">
      <h1 class="titulo">Panel administrativo</h1>
      <p class="subtitulo">Gestiona los negocios y solicitudes de PANAP desde un solo lugar.</p>
    </div>
    
    <div class="divisionContenido">
      <div class="card">
        <div class="icon-container">
          <ion-icon name="storefront-outline" class="icon"></ion-icon>
        </div>
        <h2>Negocios</h2>
        <p>Para dar respuesta a los negocios pendientes por crear</p> 
        <div class="card-footer">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
      
      <div class="card">
        <div class="icon-container">
          <ion-icon name="exit-outline" class="icon"></ion-icon>
        </div>
        <h2>Cerrar Sesión</h2>
        <p>Finaliza tu sesión actual en el panel administrativo</p>
        <div class="card-footer">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content>
