<ion-content [fullscreen]="true">
    <div class="contenidoGeneral">
        <h1 class="titulo">¡Todo listo!</h1>
        <img src="assets/image/listo.gif">
        <div class="subTitulos">
            <h1 class="info1">Estamos revisando la información que nos entregaste.</h1>
            <h2 class="info2">Te avisaremos mediante un correo cuando tu cuenta esté habilitada.</h2>
        </div>
        <ion-button expand="block" type="submit" class="boton-acceder">
            <span class="textoBoton"><a href="/iniciar-sesion">Volver al inicio </a></span>
        </ion-button>
    </div>
</ion-content>
