<ion-content [fullscreen]="true" class="contenido">
  <div class="contenedor-central">
    <div class="fecha-hora">
      <p>Fecha y hora de hoy</p>
      <h2>{{ negocio.fecha_stock }}</h2>
    </div>
    <form (ngSubmit)="anadirstock()" #stockForm="ngForm">
      <div id="ordenCampos" lines="none">

        <div class="campoIndividual" lines="none">
          <ion-label class="textoInput">Cantidad de Pan inicial (Kg)</ion-label>
          <ion-item class="campo-item" lines="none">
            <p class="simbologia">Kg:</p>
            <ion-input
              lines="none"
              class="input-texto"
              [(ngModel)]="negocio.stock_inicial"
              [ngModelOptions]="{standalone: true}"
              name="stock_inicial"
              id="cantidad-pan"
              required
              maxlength="2"
            ></ion-input>
            <ion-input lines="none" class="input-texto" [(ngModel)]="negocio.stock_inicial"
              [ngModelOptions]="{standalone: true}" name="stock_inicial" id="cantidad-pan" required></ion-input>
          </ion-item>
          <ion-label *ngIf="errorMensajeStock" color="danger" class="mensajeError">
            {{ errorMensajeStock }}
          </ion-label>
        </div>

        <div class="campoIndividual" lines="none">
          <ion-label class="textoInput">Valor del Pan por Kilo</ion-label>
          <ion-item class="campo-item" lines="none">
            <p class="simbologia">$</p>
            <ion-input
              lines="none"
              [(ngModel)]="negocio.valor_kilo"
              [ngModelOptions]="{standalone: true}"
              name="valor_kilo"
              class="input-texto"
              id="valor-pan"
              required
              maxlength="5"
            ></ion-input>
            <ion-input lines="none" [(ngModel)]="negocio.valor_kilo" [ngModelOptions]="{standalone: true}"
              name="valor_kilo" class="input-texto" id="valor-pan" required></ion-input>
          </ion-item>
          <ion-label *ngIf="errorMensajeValor" color="danger" class="mensajeError">
            {{ errorMensajeValor }}
          </ion-label>
        </div>

        <div class="campoIndividual" lines="none">
          <ion-label class="textoInput">Confirmar Valor</ion-label>
          <ion-item class="campo-item" lines="none">
            <p class="simbologia">$</p>
            <ion-input
              lines="none"
              [(ngModel)]="negocio.valor_kilo_confirm"
              [ngModelOptions]="{standalone: true}"
              name="valor_kilo_confirm"
              class="input-texto"
              id="confirmar-valor"
              required
              maxlength="5"
            ></ion-input>
            <ion-input lines="none" [(ngModel)]="negocio.valor_kilo_confirm" [ngModelOptions]="{standalone: true}"
              name="valor_kilo_confirm" class="input-texto" id="confirmar-valor" required></ion-input>
          </ion-item>
          <ion-label *ngIf="errorMensajeConfirmacion" color="danger" class="mensajeError">
            {{ errorMensajeConfirmacion }}
          </ion-label>
        </div>

        <ion-button type="submit" [disabled]="!stockForm.valid" class="botonGeneral">
          <p class="botones">Confirmar</p>
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>