*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor-central{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fecha-hora{
    width: 100%;
    height: auto;
    color: black;
    text-align: center;
    font-size: 35px;
    margin: 20px 10px 0px 10px;
    padding: 20px 10px 20px 10px;
}

#ordenCampos{
    width: 100%;
    height: 600px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px 5px 30px 5px;
    padding: 0px 5px 0px 5px;
}

.campo-item{
    width: 60%;
    height: auto;
    border-radius: 15px;
}

.textoInput{
    width: 100%;
    color: black;
    text-align: center;
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0px 10px 5px 10px;
}

.campoIndividual{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
}

.botonGeneral {
    width: 55%;
    min-width: 150px;
    height: 45%;
    min-height: 60px;
    --background:  rgb(255, 145, 0) !important;
    --background-hover:  rgb(255, 145, 0) !important;
    --background-activated:  rgb(255, 145, 0) !important;
    --background-focused:  rgb(255, 145, 0) !important;

    --color: rgb(255, 255, 255);

    --border-radius: 10px;

    --box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.144);

    --ripple-color: rgb(255, 255, 255);
    margin: 10px 0px 10px 0px;
}


.botonGeneral{
    width: 60%;
    height: 10%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.botones{
    font-size: 20px;
    text-transform: none;
    font-weight: bold;
    color:  #fff !important;
}

ion-item{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    --background: #72727242;
}

.simbologia{
    font-size: 25px;
    padding: 0px 10px 0px 5px;
    color: black;
}

#cantidad-pan{
    color: black;
    font-size: 25px;
}

#valor-pan{
    color: black;
    font-size: 25px;
}

#confirmar-valor{
    color: black;
    font-size: 25px;
}